# Compiled class file
*.class

# Temporary files
.DS_STORE
*.bak
*.log
log/

# Maven related
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml
buildNumber.properties
.mvn/timing.properties
/.mvn

# Netbeans related
nb-configuration.xml
nbactions.xml
nbproject/

# Eclipse related
*.classpath
*.project
.settings
bin/
out/

# IntelliJ related
.idea/
dist/
#build/
*.iml
*.ipr
*.iws

# VSCode related
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.factorypath
.sts4-cache
